.python-version
.DS_Store
data/
iosdata/
bing_data/
nohup.out
__pycache__/
.env*
.venv
.vscode
include/
gradio_cached_examples/
playground/*txt
playground/storage/*
config/config.yml
*mp3
*mp4
*wav
*log
*transcript.txt
*article_list.txt
*pdf
*formatted_transcript.md
*TTF
used_personalities.txt
used_topics.txt
*png
venv/
.coverage
