#for i in $(cat requirements.txt); do pip install $i; done
# For testing
pytest
pytest-dotenv

# third-party (libraries)
rake_nltk
ipython

# linting stubs
types-requests
types-setuptools

# linting
black
isort
mypy
flake8
flake8-docstrings
pylint

pyparsing
newspaper3k
requests
selenium
beautifulsoup4
PyPDF2
tiktoken
gradio==3.40.0
IPython
wget
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
tqdm
nltk
gensim
spacy
pytube
flask
llama-hub==0.0.35
pyowm
llama-index==0.8.40
langchain==0.0.310
youtube_transcript_api
supabase
docx2txt
pypdf
cohere
google.generativeai
pinecone-client
